* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

nav .logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 24px;
}

nav ul {
  display: flex;
  margin-right: 24px;
}

nav li {
  padding-left: 16px;
}